/*
|--------------------------------------------------------------------------
| Form
|--------------------------------------------------------------------------
| @namespace: frm-
|
*/

/*
|--------------------------------------------------------------------------
| Form - Columns
|--------------------------------------------------------------------------
|
*/
.frm-Columns {
  @media (--md) {
    @include Grid_Row();
  }
}

.frm-Column {
  @media (--md) {
    @include Grid_Column();

    flex: 1;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;

    display: flex;
  }

  & + & {
    margin-top: vr(1);

    @media (--md) {
      margin-top: 0;
    }
  }
}

/*
|--------------------------------------------------------------------------
| Form - Items
|--------------------------------------------------------------------------
|
*/
.frm-Items {
  margin-bottom: vr(1);

  @media (--lg) {
    flex-wrap: nowrap;
  }

  &.frm-Items-keylined {
    margin-bottom: 0;
    padding: vr(2) 0 vr(2);

    border-top: 1px solid var(--Color_Border);
  }
}

.frm-Item {
  @media (--lg) {
    flex: 1;
  }

  .frm-Items & {
    width: 100%;
  }

  & + .frm-Item {
    margin-top: vr(1.5);
  }

  /* Chances are if the keylined form items is being used we want the keylines to be between the
     individual items on mobile */
  .frm-Items-keylined & + & {
    margin-top: vr(2);
    padding: vr(2) 0 0;

    border-top: 1px solid var(--Color_Border);

    @media (--lg) {
      margin-top: 0;
      padding: 0;

      border-top: 0;
    }
  }

  .frm-Column & {
    max-width: none;

    @media (--sm) {
      @include Grid_Column(1, 2);

      &:only-child {
        width: 100%;
      }
    }

    @media (--lg) {
      width: auto;
      margin-right: 0;
      margin-left: 0;
    }

    &:nth-child(-n+2) {
      @media (width > 480px) and (width <= 10vr(2)) {
        margin-top: 0;
      }
    }
  }

  /* If the form is in columns and there is only 1 item on the right and that happens to be a
     textarea, we want to make it an even height to the left column */
  .frm-Column &.frm-Item-textarea:only-of-type {
    flex-direction: column;

    display: flex;

    /* I've nested it here as it's very tightly related to the above code, if we moved it down to
       where it should be then you'd have to jump all over the file to make sense of it */
    .frm-Textarea {
      flex: 1;
    }
  }
}

/*
|--------------------------------------------------------------------------
| Form - Fieldset
|--------------------------------------------------------------------------
|
*/
.frm-Fieldset {
  & + & {
    margin-top: vr(2);

    @media (--lg) {
      margin-top: vr(4);
    }
  }
}

/*
|--------------------------------------------------------------------------
| Form - Text
|--------------------------------------------------------------------------
|
*/
.frm-Text {
  @include Font(12);

  margin-bottom: vr(1);

  font-weight: 300;
  line-height: 20px;
}

/*
|--------------------------------------------------------------------------
| Form - Label
|--------------------------------------------------------------------------
|
*/
.frm-Label {
  @include Font(14);

  display: block;
  margin-bottom: vr(0.5);

  font-weight: 700;

  .frm-Item-checkbox & {
    @include Font(12);

    align-items: center;
    flex-direction: row;

    display: flex;

    font-weight: 300;
  }
}

/*
|--------------------------------------------------------------------------
| Form - Input
|--------------------------------------------------------------------------
|
*/
.frm-Input {
  @include Form_Input();

  .frm-Item-error & {
    border-color: var(--Color_Red);
  }

  .frm-Item-checkbox & {
    width: vr(2);
    height: @width;
    margin-right: var(--Grid_Gutter);
    padding: 0;

    appearance: none;
    border: 1px solid var(--Color_Border);
    border-radius: 0;
    outline: 0;
  }

  &.frm-Input-checkbox:checked::after {
    @include Font(14);

    font-awesome: check;

    display: block;

    line-height: vr(2);
    text-align: center;
  }

  .frm-InputControls & {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}

/*
|--------------------------------------------------------------------------
| Form - Select
|--------------------------------------------------------------------------
|
*/
.frm-Select {
  @include Form_Select();

  .frm-Item-error & {
    border-color: var(--Color_Red);
  }
}

/*
|--------------------------------------------------------------------------
| Form - Textarea
|--------------------------------------------------------------------------
|
*/
.frm-Textarea {
  @include Font(18);

  min-height: 200px;
  width: 100%;
  padding: vr(1);

  font-weight: 500;

  border: 1px solid var(--Color_Border);
  border-radius: 2px;
  color: var(--Color_Body);

  resize: vertical;
}


.frm-InputControls {
  display: flex;
}

.frm-InputControl {
  @include Font(14);

  align-items: center;
  flex-shrink: 0;
  justify-content: center;

  display: flex;
  width: 35px;

  border-top: 1px solid var(--Color_Border);
  border-right: 1px solid var(--Color_Border);
  border-bottom: 1px solid var(--Color_Border);
  color: var(--Color_Purple);

  &.frm-InputControl-plus {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }

  &.frm-InputControl-plus::before {
    font-awesome: plus;
  }

  &.frm-InputControl-minus::before {
    font-awesome: minus;
  }
}
