/*
|--------------------------------------------------------------------------
| Layout
|--------------------------------------------------------------------------
| Global layouts, normally used for layout out the main & aside + other
| recurring layouts
|
| @namespace: lyt-
|
*/

.lyt-Site {
  position: relative;

  min-height: 100vh;
  width: 100%;
  margin-right: auto;
  margin-left: auto;

  /* var(--Grid_Constrained) + (1px * 2) for each border */
  @media (width >= 1602px) {
    border-right: 1px solid var(--Color_Border);
    border-left: @border-right;
  }
}

.lyt-Content {
  @include Grid_Container();
}

.lyt-Main {
  position: relative;

  padding-bottom: vr(6);

  background-color: #fff;

  &.lyt-Main-fullHeight {
    max-height: 100vh;
  }
}

.lyt-Header {
  margin-bottom: 26px;
}


/* Columns */

.lyt-Columns {
  @include Grid_Row();
}

.lyt-Column {
  @include Grid_Column(1, 2);
}

.lyt-ItemColumns {
  @include Grid_Row();
}

.lyt-ItemColumn {
  padding: 0 var(--Grid_Gutter);

  &.lyt-ItemColumn-description {
    flex: 1;
  }

  &.lyt-ItemColumn-action {
    display: flex;
  }
}

/* Items */
.lyt-Items {}

.lyt-Item {
  @include Grid_Column(1, 1);

  margin-top: var(--Grid_Gutter);

  &.lyt-Item-buttonContainer {
    text-align: center;
  }

}

.lyt-Footer {
  margin-top: 24px;
}
