.nav-Outer {
  position: absolute;
  top: vr(3.5);
  right: vr(3);
  left: vr(3);
  z-index: 3;
}

.nav-Items {
  align-items: center;

  display: flex;
}

.nav-Item {
  &.nav-Item-back {
    margin-left: auto;
  }
}

.nav-Action {
  &.nav-Action-home {
    @include Button-secondary();

    &::before {
      font-awesome: home;

      margin-right: vr(0.5);

      font-weight: 400;
    }
  }

  &.nav-Action-back {
    @include Font(14);

    align-items: center;

    display: inline-flex;
    margin-left: var(--Grid_Gutter);

    color: var(--Color_Body);

    &::before {
      font-awesome: chevron-circle-left;

      margin-right: vr(0.5);

      font-size: 20px;
    }
  }

  &.nav-Action-exit {
    @include Button-tertiary();

    &::before {
      font-awesome: sign-out;

      margin-right: vr(0.5);

      font-weight: 400;
    }
  }
}
