:root {
  /**
  * Colors
  */
  --Color_Anchor: #702670;
  --Color_Blue: #5a9aef;
  --Color_Body: #000;
  --Color_Border: #ccc;
  --Color_Purple: #8300da;
  --Color_Red: #830000;

  /**
  * Font - Families
  */
  --Font_Family: Inconsolata, Monaco, Lucida Console, monospace;
  --Font_Family-body: var(--Font_Family);

  /**
  * Font - Sizes
  */
  --VerticalRhythmBaseline: 12px;

  --Font_Size-12: 12px;
  --Letter_Spacing-12: 0;
  --Line_Height-12: vr(1);

  --Font_Size-14: 14px;
  --Letter_Spacing-14: 0;
  --Line_Height-14: vr(2);

  --Font_Size-16: 16px;
  --Letter_Spacing-16: 0;
  --Line_Height-16: vr(2);

  --Font_Size-18: 18px;
  --Letter_Spacing-18: 0;
  --Line_Height-18: vr(2.5);

  --Font_Size-20: 20px;
  --Letter_Spacing-20: 0;
  --Line_Height-20: vr(2.5);

  --Font_Size-24: 24px;
  --Letter_Spacing-24: 0;
  --Line_Height-24: vr(3);

  --Font_Size-26: 26px;
  --Letter_Spacing-26: 0;
  --Line_Height-26: vr(3.5);

  --Font_Size-28: 28px;
  --Letter_Spacing-28: 0;
  --Line_Height-28: vr(3.5);

  --Font_Size-32: 32px;
  --Letter_Spacing-32: 0;
  --Line_Height-32: vr(3.5);

  /**
  * Grid
  */
  --Grid_Constrained: 1440px;
  --Grid_Container: 1410px;
  --Grid_Gutter: 15px;

  /**
  * Misc
  */
  --Global_Radius: 3px;
  --Global_Transition: 0.16s;
  --Scale_Factor: 0.756;
}
