/*
|--------------------------------------------------------------------------
| Select
|--------------------------------------------------------------------------
|
*/
@mixin Form_Input() {
  @include Font(18);

  width: 100%;
  height: vr(3);
  padding: 8px 10px;

  font-weight: 300;
  line-height: @height;

  border: 1px solid var(--Color_Border);
  border-radius: 2px;
  color: var(--Color_Body);
}

@mixin Form_Select() {
  @include Font(16);

  width: 100%;
  height: vr(3);
  padding-right: 35px;
  padding-left: var(--Grid_Gutter);

  font-weight: 300;
  line-height: @height;

  appearance: none;
  background-color: transparent;
  border: 1px solid var(--Color_Border);
  border-radius: 3px;
  color: #000;

  &::after {
    font-awesome: chevron-circle-down;

    color: var(--Color_Purple);
  }
}
