/*
|--------------------------------------------------------------------------
| Wysiwyg
|--------------------------------------------------------------------------
| Styles for when a wysiwyg appears on a page. Here we can use global font-sizes
| because it's not viable to expect all wysiwyg content to have a class. Make
| sure all styles are nested inside the wys-Outer so they don't leak.
|
| @namespace: wys-
*/

/* stylelint-disable selector-no-type,selector-no-universal */
/* Add a default margin for adjacent elements. */
> * + * {
  /* Using em unites because they are always relative to the current font
  size. */
  margin-top: vr(1);
  margin-bottom: vr(1);
}

/* stylelint-disable declaration-no-important */
/* Ensure that the first and last children of a WYSIWYG never have top and
bottom margins, respectively. */
> *:first-child {
  margin-top: 0 !important;
}

> *:last-child {
  margin-top: 0 !important;
}
/* stylelint-enable declaration-no-important */

> p > img {
  /* Additional spacing on images (which are always wrapped in a <p>). */
  margin-top: vr(2);
  margin-bottom: vr(2);
}
/* stylelint-enable */

.wys-Button-primary {
  @include Button-primary();
}

.wys-Button-secondary {
  @include Button-secondary();
}

/* stylelint-disable selector-no-type */
.wys-Title,
h2:not([class]) {
  @include Font(24);

  margin-top: vr(4);

  font-weight: 600;
}

.wys-Title-smaller,
h3:not([class]) {
  @include Font(20);

  font-weight: 600;
}

/* stylelint-enable */

.wys-Standfirst {
  @include Font(18);

  margin-top: vr(0.5);

  font-weight: 500;
}

.wys-Image {
  width: 100%;
  margin-top: vr(3);
  margin-bottom: vr(3);
  /* Necessary to avoid a spurious left margin in the admin WYSIWYG. */
  margin-left: 0;

  border-top-left-radius: 2px;
  border-top-right-radius: 2px;

  /* stylelint-disable selector-no-type */
  img {
    width: 100%;
    height: auto;
  }
  /* stylelint-enable selector-no-type */
}

.wys-Image_Caption {
  @include Font(12);

  /* Necessary because <figure> elements render as something that is not
  quite like 'block'. */
  display: block;

  padding: vr(1) vr(2);

  line-height: 1.5;

  background-color: #000;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
  color: #fff;
}

.wys-Pulled-left {
  @media (--md) {
    width: 40%;
    float: left;
    margin-top: 0; /* Remove default element spacing, above. */
    margin-right: vr(2);
    margin-bottom: vr(2);
    margin-left: 0;
  }
}

.wys-Pulled-right {
  @media (--md) {
    width: 40%;
    float: right;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: vr(2);
    margin-left: vr(2);
  }
}
